.main-contact {
	background-color: var(--primary-color);
	margin-top: 80px;
	min-height: calc(100vh - 120px);
	align-items: center;
	display: flex;
	justify-content: center;
	.contact-container {
		width: 100%;
		max-width: 1280px;
		height: 100%;
		.contact-details {
			display: grid;
			padding: 1rem;
			grid-template-columns: 1fr;
			text-align: center;
			@media screen and (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
				padding: 2rem;
			}
			@media screen and (min-width: 1024px) {
				text-align: start;
			}
			.contact-adress {
				margin-bottom: 2rem;
			}
			.contact-info {
				margin-bottom: 2rem;
			}
			.shop {
				grid-row: span 2;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-bottom: 2rem;
				gap: 1rem;
				@media screen and (min-width: 1024px) {
					flex-direction: row;
					justify-content: end;
					grid-column: 2/4;
				}
				div {
					@media screen and (min-width: 1024px) {
						padding-right: 1rem;
					}
				}
				img {
					width: 250px;
					margin: 0 auto;
					aspect-ratio: 720/960;
					border-radius: 1rem;
					@media screen and (min-width: 1024px) {
						width: 400px;
						margin: 0;
					}
				}
			}
		}
	}
}
