@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
	--font-base: "Roboto", sans-serif;
	--primary-color: #ebbe9b;
	--secondary-color: #2e2a27;
	--white: #fefefe;
	--dark: #2a2a2a;
	--text-light: #c7ccdb;
	--text-dark: #605346;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--font-base);
	min-height: 100vh;
	background-color: var(--dark);
}
.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
